#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.footer-box {
  background-color: #75cf7b;
  padding: 20px;
  text-align: center;
  border-top: 2px solid #ccc;
  margin-top: 40px;
}
.header-box {
  background-color: #3b38ec;
  padding: 20px;
  text-align: center;
  border-top: 2px solid #ccc;
  margin-top: 40px;
}
.navbar-box {
  background-color: #bbc325;
  padding: 20px;
  text-align: center;
  border-top: 2px solid #ccc;
  margin-top: 40px;
}
