
.navbar-box {
  background-color: #4562e7;
  padding: 10px;
  display: flex;              
  justify-content: right;    
  gap: 20px;                 
  width: 100%;                
  box-sizing: border-box;     
  position: fixed;
  width: 100vw;
  top: 0;
}

.create-restaurant-box {
  max-width: 800px;
  margin: 100px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.restaurant-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-group label {
  flex: 1;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  flex: 2;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.restaurant-card {
   width: 300px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fdfdfd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.restaurant-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}
.restaurant-banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}